<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wilderness Weather Station Maintenance System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/dataError_view.css">

</head>

<body>

<div id="main_box_container">
    <h1> ERROR: Some of the data are not valid </h1>
    <h2> The operation you tried to do cannot be completed!</h2>


    <a href="main_view"> Back to main page </a>
</div>


</body>
</html>